<div id="general">
 <form (ngSubmit)="onSubmit()">
     <p  class="input-container">
            <label for="nombreApellidos">Nombre y Apellidos:</label>
            <input type="text" name="nombreApellidos" id="nombreApellidos" [(ngModel)]="data.nombreApellidos">
        </p>
        <p  class="input-container">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="data.email">
        </p>
        <p class="input-container">
            <label for="password">Contraseña*:</label>
            <input type="password" id="password" name="passwordNueva"[(ngModel)]="passwordNueva">
        </p>
        <p class="input-container">
            <label for="telefono">Telefono:</label>
            <input type="tel" id="telefono" name="telefono"[(ngModel)]="data.telefono">
        </p>
        <p  class="input-container">
            <label for="provincia">Provincia:</label>
            <input type="text" name="provincia" id="provincia" [(ngModel)]="data.provincia">
        </p>
        <p  class="input-container">
            <label for="direccion">Direccion:</label>
            <input type="text" name="direccion" id="direccion" [(ngModel)]="data.direccion">
        </p>
        <p  class="input-container">
            <label for="codPostal">Codigo Postal:</label>
            <input type="text" id="codPostal" name="codPostal" [(ngModel)]="data.codPostal"> 
        </p>
        <p class="input-container">
             *La contraseña no se muestra nunca por privacidad en caso de querer cambiarla solo tienes que completar el cuadro quue aparece en blanco.
        </p>
        <input type="submit" id="guardar" value="Guardar datos">
    
    </form>
    <div id="pedidosrealizados">
        @if(datos != ''){
        @for( datos of datos; track datos.id){
            <div class="pedido">
            <div class="cell">{{datos.fecha}}</div>
            <div class="cell">{{datos.estado.toUpperCase()}} </div>
            <div class="cell">{{datos.totalPrecio}}€</div>
            <div class="cell" (click)="generarPdf(datos)"><img src="../../assets/adobe_pdf_document_14979.png" alt="pdf"></div>
            @if(datos.estado == "pendiente"){
            <button class="cell" (click)="borrarDatos(datos.id)">Borrar</button>
            }
            </div>
        }
        }@else{
            <h1>No has realizado ningún pedido ahora</h1>
        }
    
    </div>
</div>
