@if(usuarioRol   == "A"){
<div id="general">
@if(data == ""){
    <div id="mensaje-vacio" ><h1>No hay productos bloqueados</h1></div>
}
   
        @if(data != ""){
             <div id="coleccion">
        @for(data of data; track data.id){ 
            
            <div class="card"> 
                <img [src]="'http://localhost/proyecto/back-end/assets/uploads/' + data.foto"alt="foto">
                <h3>{{data.nombre.toUpperCase()}}</h3>
                <p class="precio">{{data.precio}} €/kg</p>
                <p class="descripcion">{{data.descripcion}}</p>
                @if(usuarioId != null && usuarioEmail != ""){
                        <button class="btn-carrito" (click)="desbloquearProductoVerdura(data.id)">Desbloquear Producto</button>
                }
                 </div>
        }
</div>
        }
</div>
}