<div id="general">
    <div id="coleccion">
       
        @for(data of data; track data.id){  
            <div class="card">
                <img [src]="'http://localhost/proyecto/back-end/assets/uploads/' + data.foto"alt="foto">
                <h3>{{data.nombre.toUpperCase()}}</h3>
            <p class="precio">{{data.precio}} €/kg</p>
            <p class="descripcion">{{data.descripcion}}</p>
            @if(usuarioId != null && usuarioEmail != ""){
                @if(usuarioRol != 'A'){
                    <button class="btn-carrito" (click)="aniadirCarrito(usuarioId,data.id,data.precio)">Añadir al carrito</button>
                }@else {
                    <button class="btn-carrito" (click)="borrarProductos(data.id)">Borrar</button>
                }
            }
        </div>
            }
      
    </div>
        @if(usuarioId != null && usuarioEmail != ""){
            @if(usuarioRol == 'A'){
        <div id="abajo">
            <button id="aniadir" (click)="aniadirFV()">Añadir Frutas y Verduras</button>
        </div>
    }
        }
    </div>