.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 15px;
}
.nav-links, .nav-icons{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-links li, .nav-icons li{
  margin: 0 15px;
}
.nav-links a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-links a:hover{
  background-color: aqua;
padding: 2vh;
}
.nav-icons a{
  text-decoration: none;
  font-size: 2vh;
}
.nav-icons img{
  width: 10vh;
}
#colocar{
  margin-top: 3.5vh;
  font-weight: bold;

}
button{
  width: 10vh;
  height: 5vh;
  background-color: rgb(236, 98, 112);
margin: 1vh;
}
#cerrar{
  width: 15vh;
  height: 5vh;
  margin: 0;
border-top-left-radius: 2vh;
border-top-right-radius: 2vh;
border-bottom-right-radius: 2vh;
border-bottom-left-radius: 2vh;
}
#usuarioNombre, #usuarioNombreM{
  font-size: 2vh;
}

/*MODO MOVIL*/
#generalM{
  width: 100%;
}
.navbarM{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4CAF50;
  flex-direction: column;
  padding: 15px;
}
.nav-linksM, .nav-iconsM{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.nav-linksM li, .nav-iconsM li{
  margin: 0 15px;
  padding: 2vh;
}
.nav-linksM a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 4vh;
}
.nav-linksM a:hover{
  background-color: aqua;
padding: 2vh;
}
.nav-iconsM a{
  text-decoration: none;
  font-size: 2vh;
}
.nav-iconsM img{
  width: 9vh;
margin-left: 2vh; 
}
#colocarM{
  margin-top: 3.5vh;
  font-weight: bold;

}
#contenedorVista{
  display: flex;
  flex-direction: column;
}
#btn-volver{
  display: flex;
  width: 100%;
  background-color:  #4CAF50;
  height: 7vh;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}