<div id="general">
    <nav class="navbar">
    <ul class="nav-links">
      <li>
        <a href="#" routerLink="/inicio">Inicio</a>
      </li>
      <li>
        <a href="#" routerLink="/fruta">Fruta</a>
      </li>
      <li>
        <a href="#" routerLink="/verdura">Verdura</a>
      </li>
    </ul>
    <ul class="nav-icons">
      @if(usuarioId != null && usuarioEmail != ""){
        @if(usuarioRol == 'A'){
          <li id="colocar">
            <a href="#" routerLink="/ver-pedidos">Ver pedidos</a>
          </li>
            <li>
            <p id="usuarioNombre">{{usuarioNombre}}</p>
            <button id="cerrar" (click)="cerrarSesion()">Cerrar Sesión</button>
          </li>
        }@else {
          <li>
            <a href="#" routerLink="/carrito"><img src="../assets/carrito.png" alt="lo"></a>
          </li>
        
          <li>
            <p id="usuarioNombre">{{usuarioNombre}}</p>
            <button id="cerrar" (click)="cerrarSesion()">Cerrar Sesión</button>
          </li>
        }
      
    }@else {
      <li>
        <button (click)="login()">Login In</button>
        <button (click)="registro()">Registro</button>
      </li>
      
    }
    </ul>
  </nav>

      <router-outlet></router-outlet>


  </div>

