<div id="general">
    <div id="foto">
        <img src="../../assets/logo.jpg" alt="fruteria">
    </div>
    <div id="texto">
        Bienvenido a nuestra Fruteria en ella encontraras todo tipo de productos, ya sean frutas o verdura , todos españoles y de buena calidad, al mejor precio y justo para entregar a la puerta de tu casa. Solo tiene que registrarse en los botones de aqui abajo para empezar a pedir.
    </div>
    <div id="botones">
        <button (click)="login()">Login In</button>
        <button (click)="registro()">Registro</button>
    </div>
</div>