<div id="general">
  <div id="texto">
    Bienvenido a nuestra Frutería. Aquí encontrarás todo tipo de productos, ya sean frutas o verduras
  </div>
  <div id="foto">
    <img src="../../assets/logo.jpg" alt="fruteria">
  </div>
  
</div>

<!-- Contenido adicional -->
<div class="container slide">

  <!-- Sobre nosotros -->
  <div class="big-box">
    <h2>¿Sobre nosotros?</h2>
    <p>
      Somos una frutería comprometida con ofrecer productos frescos, saludables y de la mejor calidad.
      Nuestros productos son seleccionados cuidadosamente de proveedores locales y nacionales, garantizando
      así su frescura y sabor. Trabajamos cada día para ofrecerte la mejor experiencia de compra, tanto en
      tienda como en línea. Nos encanta lo que hacemos y queremos que tú también disfrutes de una alimentación
      natural y deliciosa.
    </p>
  </div>

  <!-- Cómo comprar -->
  <div class="big-box">
    <h2>¿Cómo comprar?</h2>
    <p>
      Comprar en nuestra frutería es muy fácil:</p>
      <ol>
       
        <li>Explora nuestras secciones de frutas y verduras.</li>
        <li>Inicia Sesión o registrate en nuestra página antes de hacer el pedido.</li>
        <li>Añade los productos que desees al carrito.</li>
        <li>Añade las cantidades que quieras en el carrito.</li>
        <li>Si el tu compra no supera los 20€ tendrás que pagas 2€ de gastos de envio.</li>
        <li>Revisa tu pedido y trámita tu compra.</li>
        <li>¡Listo! Recibe tus productos en casa.</li>
      </ol>


  </div>

  <!-- Ofertas -->
  <div class="offers">
    <div class="offer-box">
      <h3>Primer Pedido Gratis</h3>
      <p>El primer pedido que hagas al registrarte te sale gratuito.</p>
    </div>
    <div class="offer-box">
      <h3>Frutas y Verduras siempre a buen precio</h3>
      <p>Las frutas y verduras siempre estan de oferta en nuestra tienda.</p>
    </div>
    <div class="offer-box">
      <h3>Puntualidad a la puerta de tu casa</h3>
      <p>Siempre entregamos los productos a tiempo</p>
    </div>
  </div>

</div>