#general{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2vh;
background-color: #f5fff5;
}
#coleccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vh;
  width: 100%;
  max-width: 100%;
  margin-top: 2vh;
  padding: 0 2vw;
}

.card {
  background-color: linear-gradient(135deg, #e0ffe0, #d0f0ff);
  width: 22vw;
  min-width: 40vh;
  max-width: 26vh;
  min-height: 55vh;
  padding: 1vh;
  border-radius: 1.5vh;
  box-shadow: 0 0.6vh 1.2vh rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s ease-in-out;
  position: relative;
}

.card:hover {
    transform: translateY(-1vh);
    box-shadow: 0 0.8vh 1.6vh rgba(0, 0, 0, 0.15);
  }
  

  .card img:hover {
    transform: scale(1.1); 
  }
  .card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1.2vh;
  border: 0.2vh solid #fff;
  transition: transform 0.3s;
}

.card h3 {
  margin: 1vh 0;
  color: #2c3e50;
  font-size: 1.8vw;
  font-weight: 600;
}

.precio {
  font-weight: bold;
  color: #27ae60;
  font-size: 1.6vw;
}

.descripcion {
  font-size: 1.3vw;
  color: #555;
  margin-bottom: 1vh;
}

  .btn-carrito {
    background-color: #ffbd59;
    color: #fff;
    border: none;
    padding: 1vh 2vw;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: bold;
    width: 100%;
    margin-top: 2vh;
  }
  
  .btn-carrito:hover {
    background-color: #ffa500;
    transform: scale(1.05);
  }
  #abajo {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin-top: 4vh;
  }
  
  #aniadir, #verBloqueadosFruta, #modificarFruta {
    background-color: #ff8c42;
    color: white;
    padding: 1.5vh 3vw;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2vh;
    box-shadow: 0 3vh 6vh rgba(0,0,0,0.2);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    text-transform: uppercase;
  }
  
  #aniadir:hover {
    background-color: #ff7028;
    transform: scale(1.05);
  }