#general{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #f5fff5;
}
form , #pedidosrealizados{
  background-color: #ffffff;
  padding: 4vh 4vw;
  border-radius: 2vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
form:hover, #pedidosrealizados:hover {
  transform: scale(1.01);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
form .input-container {
  display: flex;
  flex-direction: column;

}
h1{
  font-size: 2vh;
}

form .input-container label {
  font-size: 2.5vh;
  font-weight: bold;
  color: #333;
}

form .input-container input {
  font-size: 2vh;
  padding: 1.2vh;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 1.2vh;
  font-size: 2vh;
  border: 1px solid #ccc;
  border-radius: 1vh;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border-color: #3498db;
}


input[type="submit"] , button{
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 1.5vh 2vw;
  font-size: 2.5vh;
  border-radius: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2vh;
}

input[type="submit"]:hover {
  background-color: #219150;
}

select {
  background-color: #f9f9f9;
}
img{
  width: 5vh;
  height: 5vh;
}
.pedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  border: 1px solid #ccc;
  border-radius: 1vh;
  background-color: #f9f9f9;
  min-width: 10vh;
  flex-shrink: 0;
}

.pedido .cell {
  margin-bottom: 1vh;
  font-size: 2vh;
}
